.featured {
    padding-top: 120px;
    padding-bottom: 117px;
    text-align: center;
    &__title {
        @include title;
    }
    &__subtitle {
        @include subtitle($font-size: 17px, $margin-bottom: 111px);
    }
    .works {
        @include gallery($cursor-pointer: true);
        font-size: 0;
    }
}
