@mixin title {
    text-transform: uppercase;
    font-family: $title-font;
    font-size: 36px;
    letter-spacing: 2.5px;
    margin-bottom: 6px;
    opacity: 0.9;
}

@mixin subtitle ($font-size, $margin-bottom) {
    font-family: $subtitle-font;
    text-transform: uppercase;
    font-size: $font-size;
    letter-spacing: 1.1px;
    opacity: 0.62;
    margin-bottom: $margin-bottom;
}

// screens
@mixin mobile-tiny() {
    @media (max-width: $screen-mobile-tiny) {
        @content;
    }
}

@mixin tablet() {
    @media (max-width: $screen-tablet) {
        @content;
    }
}

@mixin laptop() {
    @media (max-width: $screen-laptop) {
        @content;
    }
}

@mixin laptop-large() {
    @media (max-width: $screen-laptop-large) {
        @content;
    }
}

@mixin desktop() {
    @media (max-width: $screen-desktop) {
        @content;
    }
}
