.works__item_full-size {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.Msg-window-default {
    border-radius: 5px;
    @include laptop() {
        width: 80vw !important;
        height: 80vh !important;
    }
    @include tablet() {
        max-width: 90vw !important;
        max-height: 90vh !important;
        width: 90vw !important;
        height: 90vh !important;
    }
}
.Msg-window-inner-x-default {
    transition: $transition-duration;
    &:hover {
        background-color: transparent !important;
        opacity: 0.7;
    }
}
.Msg-content-default {
    width: 100%;
}
.Msg-content-container-default {
    display: flex;
}
