h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
p,
body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button,
input,
textarea,
iframe {
    outline: none;
    border: 0;
    background: none;
    &:focus {
        outline: none;
        border: 0;
    }
}
