.team {
    padding-top: 89px;
    padding-bottom: 171px;
    background-color: $team-background;
    text-align: center;
    @include tablet() {
        padding: 90px 0;
    }
    &__title {
        @include title;
    }
    &__subtitle {
        @include subtitle($font-size: 17px, $margin-bottom: 111px);
    }
    .members {
        @include gallery($cursor-pointer: false);
        @include laptop-large() {
            width: 90%;
            margin: 0 5%;
        }
        &__item {
            position: relative;
            overflow: hidden;
            height: 440px;
            @include laptop-large() {
                flex-basis: 30%;
                height: 350px;
            }
            @include laptop() {
                flex-basis: 45%;
                height: 440px;
            }
            // aspect ratio 4:5 for tablet
            @include tablet() {
                flex-basis: 95%;
                padding-top: 125%;
                position: relative;
                height: 0;
                .image {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
            &:hover {
                .popup {
                    margin-bottom: 0;
                    opacity: 1;
                }
            }
            .popup {
                width: 335px;
                height: 241px;
                padding: 38px 40px;
                box-sizing: border-box;
                background-color: $team-popup-background;
                position: absolute;
                bottom: 15px;
                box-shadow: $team-popup-shadow;
                margin-left: 50%;
                transform: translateX(-50%);
                transition: 500ms;
                margin-bottom: -300px;
                opacity: 0;
                @include laptop-large() {
                    width: 90%;
                    height: 200px;
                    padding: 25px 14px;
                }
                &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-left: 11px solid transparent;
                    border-right: 11px solid transparent;
                    border-bottom: 19px solid $team-popup-background;
                    position: absolute;
                    top: -19px;
                    left: 21px;
                }
                &__title {
                    font-family: $subtitle-font;
                    font-size: 20px;
                    color: $team-popup-title-color;
                    letter-spacing: 1.6px;
                    margin-bottom: 17px;
                    @include laptop-large() {
                        font-size: 15px;
                    }
                    &_italic {
                        font-size: 15px;
                        color: $team-popup-title-italic-color;
                        font-style: italic;
                        letter-spacing: 1px;
                        @include laptop-large() {
                            font-size: 10px;
                        }
                    }
                }
                &__paragraph {
                    text-align: left;
                    font-family: $paragraph-font;
                    width: 245px;
                    letter-spacing: 0.1px;
                    line-height: 24px;
                    margin-bottom: 35px;
                    @include laptop-large() {
                        font-size: 14px;
                        line-height: 20px;
                        width: 220px;
                        margin: {
                            left: auto;
                            right: auto;
                        }
                    }
                }
                .icons {
                    display: flex;
                    margin-left: -4px;
                    @include laptop-large() {
                        width: 220px;
                        margin: auto;
                    }
                    &__facebook,
                    &__twitter,
                    &__dribbble,
                    &__email {
                        width: 13px;
                        height: 13px;
                        margin-right: 12px;
                        font-size: 14px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: rgba($dark-color, 0.7);
                        transition: $transition-duration;
                        @include laptop-large() {
                            margin-right: 20px;
                        }
                        &:hover {
                            color: rgba($dark-color, 1);
                        }
                    }
                }
            }
        }
    }
}
