// text colors
$dark-color: #000000;
$light-color: #ffffff;
$main-title-color: #505050;
$logo-letter-color: #77efe5;

// elements colors
$logo-border-color: #170f1c;
$main-title-word-background: #b2f2ee;
$header-background: #eff0f2;
$about-us-background: #f8fafa;

// shadow
$main-title-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
$about-us-shadow: 0px 0px 30px 0px rgba(20, 20, 21, 0.13);

// fonts
$title-font: 'Montserrat', sans-serif;
$subtitle-font: 'Merriweather', serif;
$paragraph-font: 'Raleway', sans-serif;

// screens
$screen-mobile-tiny: 375px;
$screen-tablet: 769px;
$screen-laptop: 1025px;
$screen-laptop-large: 1369px;
$screen-desktop: 1920px;
